<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ordering App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script  type="text/javascript"> 
    function preventBack() {
       window.history.forward(); 
       } setTimeout("preventBack()", 0); 
       window.onunload = function () { null };
   </script>
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", sans-serif;
    }

    body,
    html {
      height: 100%;
      line-height: 1.8;
      /* background-color: #FAACA8;
      background-image: linear-gradient(45deg, #FAACA8 0%, #DDD6F3 100%); */
      background-color:#6ca36d;
    }

    .container {
      margin-top: 50px;
    }

    .order-card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-bottom: 20px;
      display: flex;
      /* Align items horizontally */
      align-items: center;
      /* Center items vertically */
    }

    .order-details {
      flex-grow: 1;
      /* Expand to fill remaining space */
      margin-right: 20px;
      /* Add space between image and details */
    }

    .order-actions {
      display: flex;
      justify-content: flex-end;
    }

    .view-details-btn {
      width:20vh;
      background-color:#2c5f2d;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .view-details-btn:hover {
      background-color:#ffc300;
      color:black;
    }

    .order-image {
      width: 100px;
      /* Adjust image size as needed */
      height: auto;
      /* Maintain aspect ratio */
      margin-right: 20px;
      /* Add space between image and details */
    }
  </style>
</head>

<body>
  <div>
    <% include userheader.html %>
  </div>

  <div class="container">
    
    <div>
      <h2 class="text-center" style="color:whitesmoke;margin-bottom:15px;font-size:30px;font-family:Arial, Helvetica, sans-serif;">My Orders</h2>
    </div>
  
    <% userorderitems.forEach(function(order){ %>
      <div class="order-card">
        <img src="/images/orderBag.jpg" alt="Order Bag" class="order-image">
        <div class="order-details">
          <div><strong>Order ID:</strong>
            <%= order.order_id %>
          </div>
          <div><strong>Total Price:</strong>
            <%= order.total_order_amount %>
          </div>
          <div><strong>Ordered On:</strong>
            <%= order.createdAt %>
          </div>
          <div><strong>Status:</strong>
            <%= order.status %>
          </div>
        </div>
        <div class="order-actions">
          <form action="/login/viewDetails" method="POST">
            <input type="hidden" name="id" value="<%=order.id %>">
            <button type="submit" name="orderId" value="<%=order.order_id %>" class="view-details-btn">View
              Details</button>
          </form>
        </div>
      </div>
      <% } )%>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>